*{
    background-color: greenyellow;
}
.parent{
    height: 200px; 
    width: 140px;
    border: 2px solid black;
    margin: 50px;
    padding: 50px;
    background: linear-gradient(black,blue);
}

.child{
    height: 100px; 
    width: 70px;
    border: 2px solid blue;
    margin: 50%;
    background: linear-gradient(white,yellow);

}