*{
    background: linear-gradient(lightblue,gold);
}
h1{
    display: inline;
    background-color: blue;
    border: 3px solid greenyellow;
}

.Inline{
    display: block;
    background-color: cadetblue;
    border: 3px solid greenyellow;

}

.op{
    display: inline-block;
    background-color: chartreuse;
    height: 50px;
    width: 60px;
    border: 3px solid greenyellow;

}
p{
    display: none;
}
pre{
    visibility: hidden;
}