@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');
*{
    background: linear-gradient(black,rgb(128, 0, 255));
}
h1{
    background: linear-gradient(white,blue);
    color: blue;
    text-align: center;
}
p{
    font-size: x-large;
   font-family: "Bitcount Prop Single Ink", system-ui;
    font-weight: lighter;
    font-style: italic;
    text-decoration:underline;
    text-align: justify;
    text-underline-offset: inherit;
    color: rgb(54, 0, 232);
}