
*{
    margin: 0;
    padding: 0;
}

.parent{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black, white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid grey;
}

.parent > .logo > img{
    width: 50px;
}

.parent > .links > ul{
    list-style-type: none;    
    display: flex;
    gap: 12px;
}

.parent > .links > ul > li > a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:visited{
     color: rgb(0, 0, 0);
    text-decoration: none;
}

.parent > .button > button{
    padding-inline: 10px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(black,white);
    
}
.parent > .main{
    width: 100%;
    height: 800px;
}
h2{
    color: purple;
}
.parent > .main > .image{
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}