*{
}
.parent{
    width: 700px;
    height: 650px;
}
.parent > .child{
    width: 600px;
    height: 550px;
    background: linear-gradient(blue,green);
}
.parent > .child > .card{
    width: 100%;
    height: 100%;
    display: flex;
      border: 3px solid red;
    
}
.parent > .child > .card > .card_pic{
    width: 100%;
    height: 40%;
   
}

.parent > .child > .card > .card_desc{

}
span{
    position: sticky;
    top: 0px;
}
h1{
    position: sticky;
    top: 0px;
    color: rgb(255, 0, 0);
    background: rgb(0, 0, 0);
}