* {
    margin: 0;
    padding: 0;
}

.main-carousel {
    width: 100%;
    height: 50vh;
}

.main-carousel .carousel-cell {
    width: 100%;
    height: 50vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}